.line {
  width: 100%;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem;
  font-size: large;
}
.line-type {
  min-width: 5rem;
  font-weight: bold;
}
.line-title {
  min-width: 8rem;
  font-weight: bold;
  color: aqua;
}
.obj {
  color: lime;
}
.log {
  color: yellow;
}

.line-created-at {
  min-width: 12rem;
  color: gray;
  text-align: right;
}

.line-content {
  text-align: left;
  max-width: calc(100% - 28rem);
  overflow-wrap: break-word;
}
